.da-div1, .da-div1-1{
    background-color: #1a5d83;
    border-style: none;
}

.da-div2, .da-div2-1{
    background-color: #0f610f;
    border-style: none;
}

.da-div3, .da-div3-1{
    background-color: #8c6253;
    border-style: none;
}

.da-div4, .da-div4-1{
    background-color: #F39C12;
    border-style: none;
}
.da-div4-4{
    color: #000000;
}

/*.row, .row01, .row02, .row03, .row04{*/
/*    background-color: #D6EBFF;*/
/*    border-style: none;*/
/*}*/

/*.div-foot{*/
/*    width: 100%;*/
/*    height: 400px;*/
/*    background-color: #66dddd;*/
/*}*/