<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem name="钉钉"
                  id="ali_dindin.main_menu"
                  web_icon="ali_dindin,static/description/icon.png"/>

        <menuitem name="同步钉钉数据" id="ali_dindin.synchronous_menu"
                  parent="ali_dindin.main_menu" sequence="30"
        />

        <menuitem name="设置" id="ali_dindin.configure_menu"
                  parent="ali_dindin.main_menu" sequence="100"
        />

    </data>
</odoo>