<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem name="钉钉"
                  id="ali_dindin.main_menu"
                  web_icon="ali_dindin,static/description/icon.png"/>

        <menuitem name="消息" id="ali_dindin.message_menu"
                  parent="ali_dindin.main_menu" sequence="10"
        />

        <menuitem name="报表" id="ali_dindin.report_menu"
                  parent="ali_dindin.main_menu" sequence="75"
        />

        <menuitem name="同步" id="ali_dindin.synchronous_menu"
                  parent="ali_dindin.main_menu" sequence="80"
        />

        <menuitem name="设置" id="ali_dindin.configure_menu"
                  parent="ali_dindin.main_menu" sequence="100"
        />

    </data>
</odoo>