<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2019 SuXueFeng
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<odoo>
    <data>
        <record id="stock_transfer_method_tree_view" model="ir.ui.view">
            <field name="name">调拨方式</field>
            <field name="model">stock.transfer.method</field>
            <field name="arch" type="xml">
                <tree default_order="id desc" editable="top">
                    <field name="name"/>
                </tree>
            </field>
        </record>

        <record model="ir.actions.act_window" id="stock_transfer_method_action">
            <field name="name">调拨方式</field>
            <field name="res_model">stock.transfer.method</field>
            <field name="view_mode">tree</field>
        </record>

        <menuitem id="stock_transfer_method_config_menu" name="库存" parent="oa_base.menu_oa_root_config" sequence="5"
                  groups="oa_stock.manager"/>

        <menuitem name="调拨方式" id="stock_transfer_method_menu" parent="stock_transfer_method_config_menu"
                  sequence="1" action="stock_transfer_method_action"/>

        <record id="stock_bank_channel_tree_view" model="ir.ui.view">
            <field name="name">银行渠道</field>
            <field name="model">stock.bank.channel</field>
            <field name="arch" type="xml">
                <tree default_order="id desc" editable="top">
                    <field name="name"/>
                </tree>
            </field>
        </record>

        <record model="ir.actions.act_window" id="stock_bank_channel_action">
            <field name="name">银行渠道</field>
            <field name="res_model">stock.bank.channel</field>
            <field name="view_mode">tree</field>
        </record>

        <menuitem name="银行渠道" id="stock_bank_channel_menu" parent="stock_transfer_method_config_menu"
                  sequence="2" action="stock_bank_channel_action"/>

        <record id="stock_delivery_method_tree_view" model="ir.ui.view">
            <field name="name">货运方式</field>
            <field name="model">stock.delivery.method</field>
            <field name="arch" type="xml">
                <tree default_order="id desc" editable="top">
                    <field name="name"/>
                </tree>
            </field>
        </record>

        <record model="ir.actions.act_window" id="stock_delivery_method_action">
            <field name="name">货运方式</field>
            <field name="res_model">stock.delivery.method</field>
            <field name="view_mode">tree</field>
        </record>

        <menuitem name="货运方式" id="stock_delivery_method_menu" parent="stock_transfer_method_config_menu"
                  sequence="3" action="stock_delivery_method_action"/>

    </data>
</odoo>
